<section class='alert alert-success alert-dismissible mb-0' role='alert'>
	<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
	<article class="alert-message">
		<strong>Agent de NUKIUM ??</strong>
		<button class='btn openExplication'>cliquer ici pour ouvrir les explications</button>
	</article>
</section>
<div id="myModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<p>Bienvenu sur un des projets que j'ai développé en symfony.Tout dabord je tiens à vous remercier de l'attention que vous portez à ma candidature. Il s'agit d'un site vitrine d'une société organisatrice d'évènements. En vous identifiant en tant qu'administrateur vous pouvez accéder au backoffice du site et plus..</p>
		<p>Si vous désirez voir une fonction de l'application vous pouvez suivre les étapes suivantes :</p>
		<ul>
			<li>Accéder au menu 'administrateur' en cliquant sur le bouton "Admin" dans la barre de navigation.</li>
			<li>Un menu s'affichera, je vous invite à cliquer sur "Nation Sound" en bas du menu pour vous rendre sur une page dédiée à l'évènement du même nom.</li>
			<li>Vous pouvez essayer de rédiger un article dans "Actualité / FAQ"</li>
			<li>Pour voir l'étendue du partage des données vous pouvez vous rendre sur un second site web
				<a href="https://nationsound.pixelevent.site/" target='blanc'>
					ici</a>
			</li>
			<li>Sur la page "Actualité" vous pourrez voir les articles en cliquant sur le bouton bleu de "synchronisation" à droite de "Actualité"</li>
		</ul>
		<p>Vous pouvez revenir à tout moment sur ces explications.</p>
		<p>Pour plus d'informations je reste à votre disposition.</p>
	</div>
</div>
